* {
  margin: 0;
  padding: 0;
  list-style: none;
}
header {
  background-color: #ffffff;
  width: auto;
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px;
}

header .left-menu{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.site-name-box, .header-category-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-logo {
  width: 40px;
  height: 40px;
}

.site-name-box > h2 {
  font-size: 25px;
  font-weight: 900;
  margin-right: 5px;
}
.header-category-box > div {
  position: relative;
}
.header-category-box > div > p {
  margin-left: 30px;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-category-box > div  svg {
  color: #7a7878;
  margin-left: 3px;
}

.header-category-box > div > p:hover + .header-category-detail {
  opacity: 1;
  pointer-events: auto; /* 활성화된 상태에서만 클릭 허용 */
}

.header-category-box > div > .header-category-detail {
  position: absolute;
  top: 24px;
  border: 0px solid #dcdbdb;
  border-radius: 8px;
  padding: 8px;
  min-width: 168px;
  background-color: rgb(255,255,255);
  transition: 0.3s ease-in-out;
  box-shadow: rgba(75, 81, 91, 0.12) 0px 14px 32px 0px, rgba(75, 81, 91, 0.06) 0px 10px 14px 0px, rgba(75, 81, 91, 0.03) 0px 0px 0px 1px, rgba(75, 81, 91, 0.2) 0px 0px 1px 0px;
  opacity: 0;
  pointer-events: none;
  z-index: 10;
}

.header-category-box > div > p:hover {
  color: #7a7878;
}
.header-category-box > div > p:hover + .header-category-detail,
.header-category-box > div > .header-category-detail:hover {
  opacity: 1;
  pointer-events: auto;

}


.header-category-box > div > .header-category-detail > p {
  padding: 12px 12px;
  font-size: 14px;
  font-weight: 600;
}

.right-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.right-menu > .login-box > .join-btn {
  margin-left: 14px;
  background-color: black;
  color: white;
}

.right-menu > .login-box > .login-btn {
    background-color: white;
    color: black;
}

.right-menu > .login-box > button {
  padding: 8px 12px;
  border-radius: 5px;
  border : 1px #dcdbdb solid;
  font-size: 14px;
  height: 40px;
  font-weight: 500;
}



/* 500 이하 */
@media(max-width : 500px){

}

/* 500 이상 */
@media(min-width : 500px){
    header {
      display: flex;
    }
}
 /* 1000 이상 */
@media(min-width : 1000px){


}