* {
  margin: 0;
  padding: 0;
  list-style: none;
}
header {
  background-color: #A0D995;
  width: auto;
  height: 110px;
}
.header-box {
  background-color: transparent;
  padding: 20px 24px 0 24px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: auto;
  z-index: 100;
  opacity: 0;
  transition: opacity 1.5s ease; 
}

.header-box.show {
  opacity: 1; 
}

.header-info{
  border-radius: 28px;
  width: auto;
  height: 65px;
  background-color: #F5F0BB;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px 0 15px;
  position: relative;
}
.title-box{
  display: flex;
  align-items: center;
  
}
.title-box .logo-image {
  width: 45px;
  height: 45px;
}

.title-box .title {
  font-size: 20px;
  font-weight: 650;
  padding-left: 10px;
  color: black;
}

.login-box {
  display: flex;
  align-items: center;
  position: relative;
}
.login-box .login-btn {
  width: 130px;
  height: 45px;
  border-radius: 20px;
  background-color: #A0D995;
  border-style: none;
  color: white;
  font-size: 22px;
}

.login-box .menu-btn {
  width: 30px;
  height: 45px;
  font-size: 40px;
  padding-right: 33px;
  background-color: transparent;
  border-style: none;
}

.menu-open {
  border-radius: 28px 28px 0 0;
}

.menu-box{
  height: 248px;
  width: auto;
  background-color: #F5F0BB;
  border-radius: 0 0 28px 28px;
  display: flex;
  justify-content: space-between;
}

.menu-box .study-title, 
.menu-box .test-title,
.menu-box .rank-title {
  font-size: 22px;
}

.menu-box div a > p {
  padding-top: 15px;
  font-size: 17px;
  color: black;
}
a {
  text-decoration: none;
}
.menu-box div a > p:hover{
  text-decoration: underline;
  color: skyblue;
}

.alarm-btn {
  margin-right: 3px;

}
.alarm-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.alarm-box:hover{
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #d1cfcf;
  
}
.alarm-bot {
  position: absolute;
  top: 3px;
  right: 162px;
}

.alarm-box-arrow{
  position: absolute;
  z-index: 1;
}
.alarm-toggle-all{
  padding: 10px 3px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #272829;
  position: absolute;
  width: 240px;
  z-index: 1;
  color: white;
  height: 160px;
  overflow-y: scroll;
  scrollbar-width: none; 
}

.alarm-toggle-title-box {
  margin-bottom: 10px;
  border-bottom: 1px solid #777;
}
.alarm-toggle-title-box > p {
  font-size: 20px;
}
.alarm-toggle-content-box {
  display: flex;
  margin-bottom: 5px;
  padding: 10px 10px 10px 5px;
  border-radius: 10px;
  background-color: #383c3c;
  width: 210px;
  
}
.alarm-toggle-content-box > svg{
  margin-right: 5px;
}






/* 500 이하 */
@media(max-width : 500px){
  .menu-box {
    padding: 15px 15px 15px 15px;
    display: flex;
    justify-content: space-between;
  }
  .alarm-toggle-all{
    top: 85px;
    right: 80px;
  }
  .alarm-box-arrow{
    top: 67px;
    right: 203px;
  }
  
}

/* 500 이상 */
@media(min-width : 500px){
  .menu-box {
    padding: 22px 100px 15px 70px;
    display: flex;
  }
  .alarm-toggle-all{
    top: 85px;
    right: 110px;
  }
  .alarm-box-arrow{
    top: 67px;
    right: 203px;
  }
}
 /* 1000 이상 */
@media(min-width : 1000px){
  .menu-box {
    padding: 15px 100px 15px 70px;
    display: flex;
    justify-content: left;
  }

  .menu-box .test-box,
  .menu-box .rank-box {
    padding-left: 100px;
  }
}