.choice-test-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 5px 0 5px;
    background-color: white;
    width: 100%;
    position: relative;

}

.choice-test-all {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.choice-test-title-box {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 30px;
}

.choice-test-title-box > p {
    padding-bottom: 5px;
    border-bottom: 3px solid #2668f1;
}

.choice-test-header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
    position: fixed;
    z-index: 3;
}

.choice-test-header > p {
    font-size: 16px;
    font-weight: 800;
    margin-bottom: 10px;
}

/* Progress bar container */
.choice-test-progress-bar {
    width: 100%;
    height: 8px;
    background-color: #e0e0e0;
    border-radius: 10px;
}

/* Fill element */
.choice-test-progress-bar-fill {
    height: 100%;
    background-color: #2ac4f8;
    border-radius: 10px;
    transition: width 0.3s ease-in-out;
}

/* content box */
.choice-test-content-box {
    background-color: white;
    box-shadow: 0px 0px 15px rgba(30, 0, 45, 0.2), 0 0px 0px rgba(0, 0, 0, 0);
    border-radius: 10px;
    padding: 20px 32px 16px;
    margin-bottom: 50px;
    position: relative;
}

.choice-test-content-header-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
}

.choice-test-content-header-left {
    display: flex;
    align-items: center;
    justify-content: center;
}

.choice-test-content-header-left > p {
    font-size: 14px;
    font-weight: 600;
    margin-right: 5px;
}

.choice-test-content-header-left svg {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.choice-test-content-header-right > p {
    font-size: 14px;
    font-weight: 600;
    color: #777777;
}


/* 뜻 box */
.choice-test-content-content-box {
    margin-bottom: 30px;
}

.choice-test-content-content-box > .choice-test-content-word-content {
    font-size: 23px;
    margin-bottom: 75px;
}

.choice-test-content-content-box > .choice-test-content-info {
    font-size: 14px;
    font-weight: 650;
    color: rgb(86, 96, 124);
}

.choice-test-content-content-box > .choice-test-content-info-ok {
    font-size: 14px;
    font-weight: 650;
    color: rgb(0 157 1);
}

.choice-test-content-content-box > .choice-test-content-info-fail {
    font-size: 14px;
    font-weight: 650;
    color: rgb(244 73 73);
}

/* 단어 목록 box */

.choice-test-content-choice-example-box {
    border: 2px solid rgb(237 239 245);
    border-radius: 8px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: all .12s cubic-bezier(.47, 0, .745, .715);
    cursor: pointer;
}

.choice-test-content-choice-example-box:hover {
    background-color: #d0d0ff;
}

.choice-test-example-index {
    padding: 2px;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26px;
    border-radius: 50%;
    background-color: #e3e5eb;
    margin-right: 10px;

}

.choice-test-example-word {
    font-size: 20px;
    font-weight: 600;
}

/* i do not know*/
.choice-test-content-i-do-not-know-box {
    width: 100%;
    margin-top: 15px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.choice-test-content-i-do-not-know-box > div {
    width: 135px;
    height: 40px;
    font-weight: 700;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: #4255ff;
    transition: all .12s cubic-bezier(.47, 0, .745, .715);
    cursor: pointer;
}

.choice-test-content-i-do-not-know-box > div:hover {
    background-color: #e5eaff7d;
}


.choice-test-content-choice-box {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* 간격 설정 */
}

.choice-test-content-choice-example-box {
    flex: 1 1 100%; /* 기본적으로 100% 차지 (한 줄에 1개) */
}

@media (min-width: 1000px) {
    .choice-test-content-choice-example-box {
        flex: 1 1 calc(50% - 20px); /* 1000px 이상일 때 한 줄에 2개 */
    }
}


/* 정답 클릭 */
.choice-text-check-answer {
    border: 2px solid #7cb1ef;
    background-color: #c7dcf5;
}


/* 정답, 오답 */
.test-answer-ok-box {
    border: 2px #4cbc5c dashed;
    background-color: #c3ffcd70;

}

.test-answer-fail-box {
    border: 2px #ff0000bf dashed;
    background-color: #ffc4c470;
}

/** 채점 후 페이지 **/
/* 최상단 점수 내용 */
.choice-test-answer-title {
    margin-bottom: 15px;

}

.choice-test-answer-title-point {
    font-weight: 600;
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.choice-test-answer-title-content {
    font-size: 30px;
    font-weight: 500;
}

.choice-test-result-data-box {
    display: flex;
    margin-bottom: 30px;
}



.choice-result-data-graph-title,
.choice-result-recommend-title {
    font-size: 18px;
    font-weight: 700;
    color: #929bb4;
    margin-bottom: 15px;
}

.choice-result-data-graph-content{
    width: 100%;
    display: flex;
    justify-content: start;
}
.choice-result-data-graph {
    width: 100px;
    padding-left: 10px;
}

.choice-result-data-graph-svg {
    width: 80px;
    height: 80px;
}

.choice-result-data-point {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.choice-result-data-point {
    font-size: 17px;
    font-weight: 600;
    padding-left: 17px;
}

.choice-result-data-point > div {
    width: 100%;
    display: flex;
    margin-bottom: 3px;
}

.choice-result-data-point-title {
    margin-right: 35px;
}

.choice-result-data-point-count {
    border-radius: 20px;
    width: 44px;
    text-align: center;
}

.choice-result-data-point-ok-box {
    color: #4cbc5c;
}
.choice-result-data-point-ok-box > .choice-result-data-point-count {
    border : 1px solid #4cbc5c;
}
.choice-result-data-point-fail-box {
    color: rgb(255 159 89);
}

.choice-result-data-point-fail-box > .choice-result-data-point-count {
    border : 1px solid rgb(255 159 89);
}


/* 500 이하 */
@media (max-width: 500px) {
    .choice-test-all {
        width: 95%;
        margin-top: 15px;
    }

    .choice-test-content-box,
    .choice-test-answer-title,
    .choice-test-result-data-box {
        width: 100%;
    }

    .choice-test-header {
        top: 48px;
    }
    .choice-test-result-data-box {
     flex-direction: column;
    }
    .choice-result-data-point {
        width: 70%;
    }
    .choice-result-data-graph-box,
    .choice-result-recommend-box{
        width: 100%;
    }
    .choice-result-data-graph-box {
        margin-bottom: 20px;
    }
}


/* 500 이상 */
@media (min-width: 500px) {
    .choice-test-all {
        width: 90%;
        margin-top: 15px;
    }

    .choice-test-content-box,
    .choice-test-answer-title,
    .choice-test-result-data-box {
        width: 100%;
    }

    .choice-test-result-data-box {
        flex-direction: column;
    }
    .choice-result-data-point {
        width: 70%;
    }
    .choice-result-data-graph-box,
    .choice-result-recommend-box{
        width: 100%;
    }
    .choice-result-data-graph-box {
        margin-bottom: 20px;
    }

}

/* 1000 이상 */
@media (min-width: 1000px) {
    .choice-test-all {
        width: 70%;
    }

    .choice-test-content-box,
    .choice-test-answer-title,
    .choice-test-result-data-box {
        width: 770px;
    }

    .choice-test-header {
        top: 72px;
    }

    .choice-result-data-point {
        width: 43%;
    }

    .choice-test-result-data-box {
        flex-direction: row;
    }
    .choice-result-data-graph-box {
        margin-bottom: 0;
    }
}