.search-box-all {
  display: flex;
  justify-content: center;
  padding: 40px 0;
  background-color: #f6f7fb;
}

.search-box {
  background-color: white;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1), 0 6px 6px rgba(0,0,0,0.0);
  width: 600px;
  height: auto;
  padding: 25px 30px 30px 30px;
}


.search-header-center{
  display: flex;
  align-items: center;
  justify-content: center;
}



.search-box-title {
  font-size: 23px;
  margin-bottom: 30px;
  border-bottom: 1px solid #d2cece;
  padding: 0  5px 10px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.search-input-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-input-box > input {
  width: 140px;
  height: 25px;
  padding-left: 5px;
  border:1px solid #777;
  border-radius: 5px;
}

.search-input-box > svg {
  margin-left: 6px;
}

.search-word-all {
  border : 1px solid #6CC4A1;
  border-radius: 8px;
  padding: 5px 10px 10px 5px;
  box-shadow: 0 0.125rem 0.25rem #00000014;
  transition: all .12s cubic-bezier(.47,0,.745,.715);
  height: 97px;
  margin-right: 10px; 
  margin-bottom: 10px; 
  float: left;
}

.search-word-all:hover{
  background-color: rgb(156 255 137 / 22%);
}

.search-word-content {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-word-meaning{
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-notice-content-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* 600 이하 */
@media(max-width : 600px){
  .search-box{
    width: 360px;
  }
  .search-word-all {
    width: 90px;
  }


}

/* 600 이상 */
@media(min-width : 600px){
  .search-box{
    width: 560px;
  }
  .search-word-all {
    width: 115px;
  }


}
 /* 1000 이상 */
@media(min-width : 1000px){
  .search-box{
    width: 910px;
  }
  .search-word-all {
    width: 131px;
  }


}