.search-box-all {
  display: flex;
  justify-content: center;
  padding: 60px 0;
  background-color: #f6f7fb;
}

.search-box {
  background-color: white;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1), 0 6px 6px rgba(0,0,0,0.0);
  width: 600px;
  height: auto;
  padding: 25px 30px 30px 30px;
}

.search-all-box{
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-all-border{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  margin-bottom: 20px;
}

.search-all-border > input{
  width: 90%;
  border-radius: 7px;
  height: 40px;
  margin-right: 5px;
  padding-left: 18px;
  border: 1.5px solid #777;
  font-size: 17px;
  
}

.search-header-box{
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 15px;
  border: 1px solid #d2cece;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f1f1f9;
}

.search-header-box-check{
  background-color: #b0b8ff;
  border-radius: 10px ;
}

.search-header-center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.kind-not-check {
  text-align: center;
  font-size: 17px;
  padding: 20px 0 12px 0;
}

.search-mainAll-box {
  display: flex;
  flex-direction: column;
}

.search-header-box > div {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  
}
.search-header-box > div:hover{
  border-radius: 10px ;
  background-color: #b0b8ff;
}

.search-box-mainPage-title{
  font-size: 17px;
  margin-bottom: 30px;
  border-bottom: 1px solid #d2cece;
  padding: 0  5px 10px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.search-box-title {
  font-size: 23px;
  margin-bottom: 30px;
  border-bottom: 1px solid #d2cece;
  padding: 0  5px 10px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.search-input-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-input-box > input {
  width: 150px;
  height: 25px;
  padding-left: 5px;
  border:1px solid #777;
  border-radius: 5px;
}

.search-input-box > svg {
  margin-left: 6px;
}

.search-word-all {
  border : 1px solid rgb(94 106 245);
  border-radius: 8px;
  padding: 5px 10px 10px 5px;
  box-shadow: 0 0.125rem 0.25rem #00000014;
  transition: all .12s cubic-bezier(.47,0,.745,.715);
  background-color: var(--gray-100-gray-700);
  height: 80px;
  margin-right: 10px; 
  margin-bottom: 10px; 
  float: left;
}

.search-word-all:hover{
  background-color: rgb(230 231 246);
}

.search-word-content {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-word-meaning{
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-notice-content-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* 600 이하 */
@media(max-width : 600px){
  .search-box{
    width: 300px;
  }
  .search-word-all {
    width: 73px;
  }
  .search-header-box{
    width: 300px;
  }
  .search-all-border{
    width: 250px;
  }
}

/* 600 이상 */
@media(min-width : 600px){
  .search-box{
    width: 500px;
  }
  .search-word-all {
    width: 98px;
  }
  .search-header-box{
    width: 450px;
  }
  .search-all-border{
    width: 350px;
  }
}
 /* 1000 이상 */
@media(min-width : 1000px){
  .search-box{
    width: 850px;
  }
  .search-word-all {
    width: 114px;
  }
  .search-header-box{
    width: 600px;
  }
  .search-all-border{
    width: 450px;
  }
}