.main-favorite-note-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-favorite-note-title-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-favorite-note-more {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* 500 이하 */
@media (max-width: 500px) {
    .main-favorite-note-container {
        margin-top: 5px;
    }
    .main-favorite-note-title-box {
        width: 380px;
    }
}

/* 500 이상 */
@media (min-width: 500px) {
    .main-favorite-note-container {
        margin-top: 10px;
    }

    .main-favorite-note-title-box {
        width: 500px;
    }
}

/* 1000 이상 */
@media (min-width: 1000px) {
    .main-favorite-note-container {
        margin-top: 16px;
    }
    .main-favorite-note-title-box {
        width: 1000px;
    }
}