.inquiry-write-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-color: #f6f7fb;
}

.inquiry-write-box{
    box-shadow: 0 10px 20px rgba(0,0,0,0.1), 0 6px 6px rgba(0,0,0,0.0);
    background-color: white;
    padding: 25px 30px 30px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inquiry-write-box input{
    height: 45px;
    padding-left: 7px;
    border-radius: 4px;
    border: 1px solid #777;
    font-size: 14px;
}

.inquiry-write-box input {
    width: 100%;
}

/* check box */
.inquiry-checkbox {
    width: 100%;
    border-bottom: 1px solid rgb(0, 0, 0, 0.12);
    z-index: 1;
    padding-bottom: 15px;
}
.inquiry-checkbox > label {
    display: flex;
    margin-top: 20px;
}

.inquiry-checkbox > label > input {
    width: 20px;
    height: 20px;
}

.inquiry-checkbox > label > span {
    margin-left: 6px;
}

.inquiry-checkbox strong {
    color: #40A578;
}


/* 로그인한 상태일 때 background 색상 변경*/
.input-backGround{
    background-color: #e8e8e8a6;
    outline: none;
}


/* 반응형 */
/* 600 까지 */
@media(max-width : 600px){
    .inquiry-write-box {
        width: 300px;
    }
    .inquiry-write-title-box,
    .inquiry-write-writer-box,
    .inquiry-write-password-box
    {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .inquiry-write-kind-detail,
    .inquiry-write-title-detail,
    .inquiry-write-writer-detail,
    .inquiry-write-email-detail,
    .inquiry-write-password-detail,
    .inquiry-write-password-check-detail {
        width: 97%;
    }
    .inquiry-write-box select{
    }
}
/* 600 이상 */
@media(min-width : 600px){
    .inquiry-write-box {
        width: 480px;
    }
    .inquiry-write-title-box,
    .inquiry-write-writer-box,
    .inquiry-write-password-box
    {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }


    .inquiry-write-title-detail {
        width: 416px;
    }
    .inquiry-write-writer-detail,
    .inquiry-write-email-detail,
    .inquiry-write-password-detail,
    .inquiry-write-password-check-detail {
        width: 200px;
    }
    .inquiry-write-content-box {
        width: 100%;
    }
}

/* 1000 이상 */
@media(min-width : 1000px){
    .inquiry-write-box {
        width: 760px;
    }

    .inquiry-write-title-detail {
        width: 698px;
    }
    .inquiry-write-writer-detail,
    .inquiry-write-email-detail,
    .inquiry-write-password-detail,
    .inquiry-write-password-check-detail {
        width: 340px;
    }
    .inquiry-write-content-box {
        width: 100%;
    }
}