.inquiry-detail-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-color: #f6f7fb;
}

.inquiry-detail-box {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.0);
    background-color: white;
    padding: 25px 30px 30px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inquiry-detail-title > p {
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 20px;
    font-family: Sandoll GyeokdongGothic, sans-serif;
}

.inquiry-detail-content-container {
    border: 1px solid rgb(206 205 205);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 30px 0 #aec1d033;

}

.inquiry-detail-info {
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.inquiry-detail-info-title {
    display: flex;
    align-items: center;
}

.inquiry-detail-info-title2 {
    display: flex;
    align-items: center;
}

.inquiry-detail-info-title2 > p {
    padding-top: 5px;
}

.inquiry-detail-info-title2 > svg {
    margin-left: 5px;
}

.inquiry-detail-info-title2 > svg:hover {
    color: #f75757bf;
}
.inquiry-title {
    padding-top: 3px;
    word-break: break-word; /* 긴 단어가 있을 경우 줄바꿈 처리 */
    white-space: normal; /* 텍스트가 줄바꿈 되도록 설정 */
}

.comment-result {
    margin: 0 5px;
    padding: 4px 5px 2px 5px;
    font-size: 12px;
    border-radius: 3px;
    box-shadow: 0 4px 30px 0 #aec1d033;
}

.comment-result-y {
    background-color: #a0d995;
    color: white;
}
.comment-result-n {
    background-color: #f75757bf;
    color: white;
}

.inquiry-detail-content-box {
    padding: 20px 10px 0 10px;
}

.inquiry-detail-comment-box {
    border: 1px solid rgb(206 205 205);
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: start;
}

.inquiry-detail-comment-text {
    padding: 5px 0 0 5px;
}

.inquiry-detail-comment-text > textarea {
    font-size: 18px;
    resize: none;
    overflow: hidden;
    border: none;
    outline: none;
}

.inquiry-detail-comment-box > p {
    font-size: 20px;
    font-weight: 500;
    margin-left: 5px;
}

.inquiry-detail-button-box > button {
    background: #A0D995;
    color: white;
    width: 110px;
    height: 40px;
    font-size: 16px;
    border-radius: 8px;
    border :none ;
    margin-top: 30px;
}

/* 반응형 */
/* 600 까지 */
@media (max-width: 600px) {
    .inquiry-detail-box {
        width: 360px;
    }

    .inquiry-detail-content-container,
    .inquiry-detail-comment-box {
        width: 300px;
    }

    .inquiry-detail-info {
        width: 255px;
    }

    .inquiry-detail-info-title > .inquiry-title {
        font-size: 15px;
    }
    .inquiry-detail-comment-box > p {
        font-size: 11px;
        margin: 0;
    }
    .inquiry-detail-comment-box > svg {
        height: 15px;
    }
}

/* 600 이상 */
@media (min-width: 600px) {
    .inquiry-detail-box {
        width: 560px;
    }

    .inquiry-detail-content-container,
    .inquiry-detail-comment-box {
        width: 480px;
    }

    .inquiry-detail-info {
        width: 435px;
    }

    .inquiry-detail-info-title > .inquiry-title {
        font-size: 18px;
    }
}

/* 1000 이상 */
@media (min-width: 1000px) {
    .inquiry-detail-box {
        width: 908px;
    }

    .inquiry-detail-content-container,
    .inquiry-detail-comment-box {
        width: 760px;
    }

    .inquiry-detail-info {
        width: 715px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .inquiry-detail-info-title > .inquiry-title {
        font-size: 23px;
        width: 410px;
        height: auto;
    }
}
