.join-info-box, .join-info {
    width: 100%;
}

/* 소셜 로그인 */
.social-join {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.social-title > p {
    font-size: 21px;
    font-weight: 800;
    margin-bottom: 10px;
}

.social-join img {
    width: 40px;
    height: 40px;
    margin: 0 10px;
}


.join-hr {
    border: 0.1px solid #d9d4d4;
    margin: 30px 0;
    width: 100%;
}


/* input box */
.join-input-box  p {
    font-size: 14px;
    font-weight: 700;
}

.join-input-box > input {
    width: 100%;
}






.join-input-box {
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.join-input-box > input,
.join-input-box > div > input{
    height: 50px;
    margin-top: 5px;
    padding-left: 10px;
    border-radius: 10px;
    border: 1px solid #777;
    font-size: 16px;
}
.join-input-box > div > input {
    margin-right: 5px;
}

.join-input-box > div > button {
    height: 49px;
    border-radius: 5px;
    border: none;
    background-color: #e1e1e1;
    color: #575656;
}

.join-btn-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 13px;
}

.join-btn-box > button {
    border-radius: 10px;
    background-color: #A0D995;
    border: none;
    color: white;
}

#check_true {
    background-color: #4CACBC;
    color: white;
}

/* 500 이하 */
@media (max-width: 600px) {

}

/* 500 이상 */
@media (min-width: 600px) {


}


