.login-header{
  background-color: #f5f5f5;
  width: auto;
  height: 15px;
  padding: 20px;
}

.login-header > p {
  float: right;
  margin-left: 20px;
  font-size: 14px;
  color: #626262;
}

.login-header > p:hover{
  color: rgb(104, 104, 248);
}

.loginPage-box{
  width: auto;
  height: auto;
}

.loginPage-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}


/* 500 이하 */
@media(max-width : 500px){
  .logo-box{
    margin-top: 30px;
  }
  .loginPage-box .logo-box > img {
    width: 50px;
    height: 50px;
  }
  .loginPage-box .logo-box > p {
    font-size: 30px;
    font-weight: 600;
    padding-left: 5px;
  }
  
  .login-info .login-input-box > input {
    width: 180px;
    height: 30px;
    margin-bottom: 10px;
    font-size: 15px;
  }

  .login-btn-box > button {
    height: 79px;
  }

  .social-login{
    padding: 0 50px 0 50px;
  }
  .id_pw_find {
    padding: 10px 30px 0 30px;
  }
}

/* 500 이상 */
@media(min-width : 500px){
  .logo-box{
    margin-top: 60px;
  }

  .loginPage-box .logo-box > img {
    width: 70px;
    height: 70px;
  }
  .loginPage-box .logo-box > p {
    font-size: 50px;
    font-weight: 600;
    padding-left: 5px;
  }


  .login-info .login-input-box > input {
    width: 300px;
    height: 45px;
    margin-bottom: 10px;
    font-size: 18px;
  }
  .login-btn-box > button {
    height: 107px;
  }
  .social-login{
    padding: 0 100px 0 100px;
  }
  .id_pw_find {
    padding: 10px 90px 0 90px;
  }
}
 /* 1000 이상 */
@media(min-width : 1000px){

  
}

.logo-box{
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-info{
  margin-top: 30px;
}

.login-info {
  display: flex;
}

.login-info .login-input-box{
  display: flex;
  flex-direction: column;
}

.login-info .login-input-box > input{
  border-radius: 10px;
  padding-left: 13px;
  
}

.login-btn-box {
  padding-left: 10px;
  
}

.login-btn-box > button {
  width: 100px;
  border-radius: 10px;
  background-color: #9DDE8B;
  color: white;
  font-size: 20px;
  font-weight: 600;
}

.remember {
  display: flex;
  margin-top: 8px;
  margin-bottom: 15px;
}

.remember > input {
  width: 25px;
  border-radius: 10px;
  margin-right: 5px;
}

.remember > label {
  color: rgb(107, 107, 107);
  
}
.social-login{
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.social-login img {
  width: 35px;
  height: 35px;
}

.id_pw_find {
  display: flex;
  justify-content: space-between;
}

.id_pw_find > div :hover{
  color: #006769;
}

