.favorite-page-all {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
  background-color: white;
  width: 100%;
}

.favorite-page-mid .favorite-info{
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 30px;
  width: auto;
}

.favorite-page-mid .favorite-info > p {
  display: inline-block;
  border-bottom: 3px solid #2668f1;
}


/* 카테고리 박스 */
.favorite-page-category-box {
  display: flex;
  justify-content: space-between;
  height: auto;
  margin-bottom: 5px;
}

.favorite-page-hidden-box {
  display: flex;
  gap: 10px;
  align-items: center;
}
.favorite-page-hidden-box > div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  border-radius: 5px;
  padding: 8px 7px;
  transition: all .12s cubic-bezier(.47, 0, .745, .715);
  cursor: pointer;
  font-size: 13px;
}

.favorite-box-hidden-box-show {
  border: 1px solid #8b8b8b;
  color: black;
}

.favorite-box-hidden-box-hidden {
  color: #d1d1d1;
  border: 1px solid #d1d1d1;
}

.favorite-data {
  display: flex;
  flex-direction: column;
}

/* 단어 박스 내용 */
.favorite-box {
  border: 1px solid #32b1ea99;
  border-radius: 5px;
  padding: 15px;
  margin-top: 15px;
  box-shadow: 0px 0px 3px rgba(15, 0, 2, 0.2), 0 0px 0px rgba(0, 0, 0, 0);

}

.favorite-data-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.favorite-data-top-content {
  font-size: 22px;
  font-weight: 500;
}

.favorite-data-top-audio-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.favorite-data-middle {
  border: 1px solid #8282824a;
  border-radius: 3px;
  padding: 10px;
  background-color: #f1f1f14a;
  margin-bottom: 20px;
}

.favorite-data-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.study-play-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.study-play-btn > button {
  border-style: none;
  border-radius: 15px;
  width: 190px;
  height: 50px;
  background-color: #6CC4A1;
  font-size: 16px;
  color: white;
}


/* 600 이하 */
@media(max-width : 600px){
  .favorite-page-mid{
    width: 95%;
    margin-top: 20px;
  }

}

/* 600 이상 */
@media(min-width : 600px){
  .favorite-page-mid{
    width: 90%;
    margin-top: 30px;
  }

}
 /* 1000 이상 */
@media(min-width : 1000px){
  .favorite-page-mid{
    width: 70%;
    margin-top: 40px;
  }

}