.study-page-all {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
  background-color: white;
  width: 100%;
}

.study-page-mid{

}

.study-off-box{
  display: flex;
  flex-direction:column;
  align-items: center;
  padding: 40px 0 35px 0;
}

.study-off-info > h5 {
  padding-bottom: 5px;
}

.study-off-info {
  margin-bottom: 20px;

}
.study-off-req-box > input{
  width: 50px;
  height: 23px;
  text-align: center;
  font-size: 13px;
  margin-right: 5px;
}
.study-off-req-box > button{
  width: 80px;
  height: 40px;
  background-color: #6CC4A1;
  border-style: none;
  border-radius: 5px;
  color: white;
  font-weight: 600;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


/* 500 이하 */
@media(max-width : 600px){
  .study-page-mid{
    width: 95%;
    margin-top: 20px;
  }
  .study-off-info {
    font-size: 15px;
  }
}

/* 500 이상 */
@media(min-width : 600px){
  .study-page-mid{
    width: 90%;
    margin-top: 30px;
  }
  .study-off-info {
    font-size: 18px;
  }
}
 /* 1000 이상 */
@media(min-width : 1000px){
  .study-page-mid{
    width: 70%;
    margin-top: 40px;
  }
  .study-off-info {
    font-size: 20px;
  }
}