.add-box-all{
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-box{
  padding: 30px;
}

.add-box .add-box-title{
  text-align: center;
  font-size: 22px;
}
.add-box-info {
  margin-top: 10px;
}

.add-box-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.add-box-input > input {
  border : 1px solid #777;
  border-radius: 5px;
  font-size: 15px;
  padding-left: 5px;
  margin-right: 5px;
}

.add-box-input > #school_word,
.add-box-input > #school_content,
.add-box-input > #school_chinese,
.add-box-input > #school_meaning,
.add-box-input > #word_content,
.add-box-input > #word_meaning,
.add-box-input > #word_level{
  width: 80px;
  height: 40px;
}

.add-box-input > #school_week {
  width: 50px;
  height: 40px;
}

.add-box-btn {
  text-align: center;
  margin-top: 30px;
}

.add-box-btn > button {
  width: 100px;
  height: 40px;
  border-radius: 10px;
  border : none;
  background-color: #6CC4A1;
  font-size: 14px;
  color: white;
}

.plus-btn {text-align: center;}