.chat-box-all {
  padding: 20px 0;
  background-color: #f6f7fb;
}

.chat-box {
  margin: 0 auto;
  width: 100%;
  max-width: 970px;
  border: 1px solid #ddd;
  min-height: 600px;
  padding: 15px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
}

.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.chat-header h4 {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
}

.icon-btn {
  cursor: pointer;
  color: #555;
}

.text-box {
  flex-grow: 1;
  overflow-y: auto;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.text-content h4 {
  margin: 0 0 5px;
  font-size: 16px;
  font-weight: 600;
}

.text-content p {
  margin: 0;
  font-size: 15px;
  color: #333;
}

.wait-question {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;
  color: #888;
}

.wait {
  justify-content: center;
  align-items: center;
}

.input-box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 10px 0;
  border-top: 1px solid #ddd;
}

.gpt-chat-box-all {
  width: 100%;
}


.gpt-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 900px;
}


.gpt-input {
  flex-grow: 1;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 14px;
  outline: none;
  resize: none; /* 크기 조절 비활성화 */
  height: 50px; /* 기본 높이 설정 */
  background-color: #f6f7fb; /* 일관성 있는 배경 색상 */
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.gpt-input:focus {
  border-color: #8cdac7; /* 포커스 시 색상 변화 */
  box-shadow: 0 0 5px rgba(140, 218, 199, 0.5);
}

.send-btn {
  margin-left: 10px;
  color: #777;
  cursor: pointer;
  transition: color 0.2s ease, transform 0.2s ease;
}

.send-btn:hover {
  color: #8cdac7;
  transform: scale(1.1);
}

/* Responsive */
@media (max-width: 600px) {
  .chat-box {
    width: 370px;
  }
}

@media (min-width: 600px) {
  .chat-box {
    width: 570px;
  }
}

@media (min-width: 1000px) {
  .chat-box {
    width: 970px;
  }
}
