.chat-box-all {
  padding: 30px 0 30px 0;
  background-color: #f6f7fb;
}
.chat-box{
  margin: 0 auto;
  border: 1px solid #777;
  min-height: 530px;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1), 0 6px 6px rgba(0,0,0,0.0);
}

.chat-header {
  display: flex;
  justify-content: space-between;
  height: 28px;
}
.chat-header > a {
  color: black;
}

.text-box {
  height: 450px;
  padding: 10px 15px 10px 15px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  scrollbar-width: none; 
}


.input-box {
  border: 1px solid #777;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.gpt-form {
  display: flex;
}
.send-btn {color: #777;}
.send-btn:hover {color: #8cdac7; }
.gpt-form > textarea {
  box-sizing: border-box;
  max-height: 35px;
  outline: none;
  font-size: 15px;
  resize: none;
  border: none;
  word-spacing: -5px;
  padding-top: 7px;
}

.wait-question {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}
.wait-question > p {
  font-size: 20px;
  margin-top: 7px;
}

.wait{
  display: flex;
  justify-content: center;
}

.text-content > p {
  margin-bottom: 20px;
}

/* 600 이하 */
@media(max-width : 600px){
  .chat-box{
    width: 350px;
  }
  .gpt-form > textarea {
    width: 300px;
  }
}

/* 600 이상 */
@media(min-width : 600px){
  .chat-box{
    width: 550px;
  }
  .gpt-form > textarea {
    width: 500px;
  }
}
 /* 1000 이상 */
@media(min-width : 1000px){
  .chat-box{
    width: 950px;
  }
  .gpt-form > textarea {
    width: 900px;
  }
}