<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.thejapenproject.admin.service.AdminMapper">

    <!-- 단어 등록하기 -->
    <insert id="addWordList"
            parameterType="com.project.thejapenproject.admin.vo.AddWordReqVO">
        INSERT INTO word (word_content,
                          word_meaning,
                          word_level,
                          word_chinese,
                          word_week)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.wordContent},
            #{item.wordMeaning},
            #{item.wordLevel},
            #{item.wordChinese},
            #{item.wordWeek})
        </foreach>
    </insert>

    <insert id="addNotice" parameterType="com.project.thejapenproject.command.NoticeVO">
        INSERT INTO notice (notice_title,
                            notice_content)
        values (#{noticeTitle},
                #{noticeContent})
    </insert>

    <insert id="addWeekWord" parameterType="java.util.List">
        INSERT INTO school (school_week,
                            school_meaning,
                            school_content,
                            school_chinese)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.school_week},
             #{item.school_meaning},
             #{item.school_content},
             #{item.school_chinese})
        </foreach>
    </insert>

    <!-- 단어 예제 등록 -->
    <insert id="addWordExample"
            parameterType="com.project.thejapenproject.admin.vo.AddWordListVO">
        <selectKey resultType="java.lang.Integer"
                   order="BEFORE"
                   keyProperty="wordNum"
                   keyColumn="word_num">
            SELECT word_num
            FROM word
            WHERE state = 0
                AND word_meaning = #{wordMeaning}
                AND word_content = #{wordContent}
                AND word_level = #{wordLevel}
                AND word_week = #{wordWeek}
            ORDER BY word_num DESC
            limit 1
        </selectKey>
        INSERT INTO word_example (word_num,
                                  we_content,
                                  we_meaning)
        values
            <foreach collection="exampleList" item="VO" separator=",">
                (#{wordNum},
                 #{VO.wordExampleContent},
                 #{VO.wordExampleMeaning})
            </foreach>
    </insert>
</mapper>
