<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.thejapenproject.admin.service.AdminMapper">

    <!-- 단어 등록하기 -->
    <insert id="addWordList"
            parameterType="com.project.thejapenproject.admin.vo.AddWordReqVO">
        INSERT INTO word (word_content,
                          word_meaning,
                          word_level,
                          word_chinese,
                          word_week)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.wordContent},
            #{item.wordMeaning},
            #{item.wordLevel},
            #{item.wordChinese},
            #{item.wordWeek})
        </foreach>
    </insert>

    <insert id="addNotice" parameterType="com.project.thejapenproject.command.NoticeVO">
        INSERT INTO notice (notice_title,
                            notice_content)
        values (#{noticeTitle},
                #{noticeContent})
    </insert>

    <insert id="addWeekWord" parameterType="java.util.List">
        INSERT INTO school (school_week,
                            school_meaning,
                            school_content,
                            school_chinese)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.school_week},
             #{item.school_meaning},
             #{item.school_content},
             #{item.school_chinese})
        </foreach>
    </insert>
</mapper>
