<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.thejapenproject.gpt.service.GptMapper">

    <!-- ai 질문 그룹 생성 & 내용 저장(ai_record 테이블 순서, 제목) -->
    <insert id="registerGptData">
        INSERT INTO ai_record (username,
                               ai_record_title)
        VALUES (#{username},
                #{message})
    </insert>

    <!-- ai 질문 상세 내용 등록 -->
    <insert id="registerGptDataDetail">
        INSERT INTO ai_record_detail (ai_record_num,
                                      username,
                                      ai_record_send_data,
                                      ai_record_answer_data)
        VALUES ((SELECT ai_record_num
                 FROM ai_record
                 WHERE state = 0
                   AND username = #{username}
                 ORDER BY ai_record_num DESC
            limit 1),
            #{username}, #{message}
             , #{answer})
    </insert>

    <!-- ai 이전 질문 목록 조회 -->
    <select id="getAiRecordList"
            resultType="com.project.thejapenproject.gpt.vo.AiRecordListResVO">
        SELECT ai_record_num,
               ai_record_title,
               CASE
                   WHEN created_at >= CURDATE() THEN '오늘'
                   WHEN created_at >= DATE_SUB(CURDATE(), INTERVAL 7 DAY) THEN '지난 7일'
                   ELSE '이 외'
                   END AS created_at
        FROM ai_record
        WHERE state = 0
          AND username = #{username}
        ORDER BY ai_record_num DESC

    </select>

    <!-- 질문 그룹 등록 -->
    <insert id="registerRecordGroup"
            parameterType="com.project.thejapenproject.gpt.vo.RegisterRecordGroupReqVO"
            useGeneratedKeys="true"
            keyProperty="aiRecordNum">
        INSERT INTO ai_record (username,
                               ai_record_title)
        VALUES (#{username},
                #{message})
    </insert>

    <!-- ai 질문 이전 상세 목록 조회 -->
    <select id="getAiRecordDetailList"
            parameterType="com.project.thejapenproject.gpt.vo.param.GetRecordDetailReqVO"
            resultType="com.project.thejapenproject.gpt.vo.AiRecordDetailListResVO">
        SELECT ai_record_detail_num,
               ai_record_send_data,
               ai_record_answer_data
        FROM ai_record_detail
        WHERE state = 0
          AND username = #{username}
          AND ai_record_num = #{aiRecordNum}
        ORDER BY ai_record_detail_num ASC
    </select>

</mapper>
