<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.thejapenproject.inquiry.service.InquiryMapper">

    <insert id="insertData"
            parameterType="com.project.thejapenproject.command.InquiryVO">
        insert into inquiry (inquiry_title,
                             inquiry_content,
                             inquiry_writer,
                             inquiry_password,
                             inquiry_secret,
                             inquiry_regdate,
                             inquiry_email
                             )
        values (#{inquiry_title},
                #{inquiry_content},
                #{inquiry_writer},
                #{inquiry_password},
                'y',
                now(),
                #{inquiry_email})
    </insert>

    <!-- 문의사항 전체 목록 조회 -->
    <select id="getList"
            parameterType="com.project.thejapenproject.inquiry.vo.GetInquiryListReqVO"
            resultType="com.project.thejapenproject.command.InquiryVO">
        select inquiry_num,
               inquiry_title,
               inquiry_writer,
               inquiry_secret,
               inquiry_regdate,
               inquiry_state,
               inquiry_comment,
               COUNT(*) over() AS totalElements
        from inquiry
        WHERE inquiry_state = 'Y'
        <if test='keyword != null and keyword != ""'>
            AND( inquiry_title like '%${keyword}%'
               OR inquiry_writer like '%${keyword}%')
        </if>
        order by inquiry_num DESC
        limit #{size} offset #{offset}
    </select>

    <select id="checkPassword" resultType="Boolean">
        select IF(COUNT(*) = 1, true, false)
        from inquiry
        where inquiry_num = #{inquiry_num} and
              inquiry_password = #{inquiry_password}
    </select>

    <select id="getDetails"
            resultType="com.project.thejapenproject.command.InquiryVO">
        select * from inquiry where inquiry_num = #{inquiry_num}
    </select>

    <update id="deleteData" parameterType="int">
        update inquiry set inquiry_state = 'n'
        where inquiry_num = #{inquiry_num}
    </update>

    <select id="searchInquiry"
            resultType="com.project.thejapenproject.command.InquiryVO">
        select inquiry_num,
               inquiry_title,
               inquiry_writer,
               inquiry_secret,
               inquiry_regdate,
               inquiry_state,
               inquiry_comment
        from inquiry
        where inquiry_title like CONCAT('%', #{word}, '%')
        order by inquiry_num DESC
    </select>

    <update id="addComment"
            parameterType="com.project.thejapenproject.command.InquiryVO">
        update inquiry set inquiry_comment = #{inquiry_comment}, inquiry_regdate = now()
        where inquiry_num = #{inquiry_num}
    </update>
</mapper>
