<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.thejapenproject.inquiry.service.InquiryMapper">

    <!-- 문의 등록하기 -->
    <insert id="insertData"
            parameterType="com.project.thejapenproject.inquiry.vo.InquiryRegisterReqVO">
        insert into inquiry (inquiry_title,
                             inquiry_content,
                             inquiry_writer,
                             inquiry_password,
                             inquiry_secret,
                             inquiry_regdate,
                             inquiry_email)
        values (#{inquiryTitle},
                #{inquiryContent},
                #{inquiryWriter},
                #{inquiryPassword},
                'y',
                now(),
                #{inquiryEmail})
    </insert>

    <!-- 문의사항 전체 목록 조회 -->
    <select id="getList"
            parameterType="com.project.thejapenproject.inquiry.vo.GetInquiryListReqVO"
            resultType="com.project.thejapenproject.inquiry.vo.InquiryGetListResVO">
        select inquiry_num,
               inquiry_title,
               inquiry_writer,
               inquiry_secret,
               inquiry_regdate,
               state,
               inquiry_comment,
               COUNT(*) over() AS total_elements
        from inquiry
        WHERE state = 0
        <if test='keyword != null and keyword != ""'>
            AND( inquiry_title like '%${keyword}%'
               OR inquiry_writer like '%${keyword}%')
        </if>
        order by inquiry_num DESC
        limit #{size} offset #{offset}
    </select>

    <!-- 문의사항 비밀번호 확 -->
    <select id="checkPassword" resultType="Boolean">
        select IF(COUNT(*) = 1, true, false)
        from inquiry
        where inquiry_num = #{inquiryNum} and
              inquiry_password = #{inquiryPassword}
    </select>

    <!-- 문의사항 상세 내용 조회-->
    <select id="getDetails"
            resultType="com.project.thejapenproject.inquiry.vo.InquiryGetDetailResVO">
        select inquiry_num,
               inquiry_title,
               inquiry_writer,
               inquiry_content,
               inquiry_regdate,
               inquiry_comment
        from inquiry
        where inquiry_num = #{inquiryNum}
        AND state = 0
    </select>

    <!-- 문의사항 삭제 -->
    <update id="deleteData" parameterType="java.lang.Integer">
        UPDATE inquiry
        SET state = 1
        WHERE inquiry_num = #{inquiryNum}
          AND state = 0
    </update>


    <!-- 문의사항 답글 등록 -->
    <update id="addComment"
            parameterType="com.project.thejapenproject.inquiry.vo.param.AddCommentParamVO">
        UPDATE inquiry
        SET inquiry_comment = #{inquiryComment},
            inquiry_regdate = now()
        WHERE inquiry_num = #{inquiryNum}
          AND state = 0
    </update>
</mapper>
