<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.thejapenproject.inquiry.service.InquiryMapper">

    <insert id="insertData" parameterType="InquiryVO">
        insert into inquiry (inquiry_title,
                             inquiry_content,
                             inquiry_writer,
                             inquiry_password,
                             inquiry_secret,
                             inquiry_regdate,
                             inquiry_email
                             )
        values (#{inquiry_title},
                #{inquiry_content},
                #{inquiry_writer},
                #{inquiry_password},
                'y',
                now(),
                #{inquiry_email})
    </insert>

    <select id="getList" resultType="InquiryVO">
        select inquiry_num,
               inquiry_title,
               inquiry_writer,
               inquiry_secret,
               inquiry_regdate,
               inquiry_state
        from inquiry
        order by inquiry_num DESC
    </select>

    <select id="checkPassword" resultType="Boolean">
        select IF(COUNT(*) = 1, true, false)
        from inquiry
        where inquiry_num = #{inquiry_num} and
              inquiry_password = #{inquiry_password}
    </select>

    <select id="getDetails" resultType="InquiryVO">
        select * from inquiry where inquiry_num = #{inquiry_num}
    </select>
</mapper>
