<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.thejapenproject.mypage.service.MypageMapper">
    <select id="myInfo" resultType="UserVO">
        SELECT username,
               user_name,
               user_email,
               user_phone
        FROM user
        WHERE username = #{username}
    </select>

    <update id="modifyInfo" parameterType="UserVO">
        update user
        set user_name = #{user_name}, user_email = #{user_email}, user_phone = #{user_phone}
        where username = #{username}
    </update>

    <select id="favoriteList" resultType="WordVO">
        SELECT *, 'true' as word_favorite FROM word
        where word_num  in (
            SELECT word_num FROM favorites
            where username = #{username}
            ORDER BY favorite_regdate)
    </select>

    <select id="recordList" resultType="RecordVO">
        SELECT * FROM record
        WHERE username = #{username}
        ORDER BY record_date DESC
    </select>

    <select id="recordDetails" resultMap="recordDetailsResultMap">
        SELECT R.rd_num,
               R.record_num,
               R.username,
               R.word_num,
               R.rd_check,
               R.Record_value,
               W.word_level,
               W.word_meaning,
               W.word_content
        FROM record_detail R
             JOIN word W
             ON R.word_num = W.word_num
        WHERE username = #{username}
        AND record_num = #{record_num}
        ORDER BY rd_num
    </select>

    <update id="withdrawal" parameterType="String">
        update user set user_status = 1 where username = #{username};
    </update>


    <resultMap id="recordDetailsResultMap" type="RecordDetailsVO">
        <id property="rd_num" column="rd_num"/>
        <result property="record_num" column="record_num"/>
        <result property="word_num" column="word_num"/>
        <result property="rd_check" column="rd_check"/>
        <result property="record_value" column="Record_value"/>

        <association property="wordVO" javaType="WordVO">
            <id property="word_num" column="word_num"/>
            <result property="word_level" column="word_level"/>
            <result property="word_meaning" column="word_meaning"/>
            <result property="word_content" column="word_content"/>
        </association>
    </resultMap>

</mapper>
