<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.thejapenproject.mypage.service.MypageMapper">

    <!-- 마이페이지에 유저 정보 가져오기 -->
    <select id="myInfo"
            resultType="com.project.thejapenproject.mypage.vo.UserMypageResVO">
        SELECT U.username,
               U.user_name,
               U.user_email,
               U.user_phone,
               I.image_path
        FROM user U
                 LEFT JOIN image I
                           ON U.username = I.username
                               AND I.state = 0
        WHERE U.username = #{username}
    </select>

    <!-- 유저 정보 수정 -->
    <update id="modifyInfo"
            parameterType="com.project.thejapenproject.mypage.vo.UserInfoModifyReqVO">
        update user
        set user_email = #{userEmail},
            user_phone = #{userPhone}
        where username = #{username}
    </update>

    <!-- 즐겨찾기 목록 API -->
    <select id="favoriteList"
            resultType="com.project.thejapenproject.command.WordVO">
        SELECT word_num,
               word_level,
               word_meaning,
               word_content,
               word_chinese,
               word_week,
               'true' as word_favorite
        FROM word
        where word_num in (SELECT word_num
                           FROM favorites
                           where username = #{username}
                           ORDER BY favorite_regdate)
    </select>

    <!-- 유저의 학습 목록 조회 -->
    <select id="shortTestList"
            parameterType="com.project.thejapenproject.mypage.vo.param.GetRecordListParamVO"
            resultType="com.project.thejapenproject.mypage.vo.ShortRecordListResVO">
        SELECT str_num,
               username,
               str_answer_point,
               str_total_count,
               str_answer_count,
               str_inAnswer_count,
               str_time,
               str_type,
               created_at,
               COUNT(*) OVER() AS total_elements
        FROM short_test_result
        WHERE username = #{username}
          AND state = 0
        ORDER BY str_num DESC
            limit #{size}
        offset #{offset}
    </select>

    <!-- 단어 선택 테스트 내역 조회 -->
    <select id="choiceRecordList"
            parameterType="com.project.thejapenproject.mypage.vo.param.GetRecordListParamVO"
            resultType="com.project.thejapenproject.mypage.vo.ChoiceRecordListResVO">
        SELECT ctr_num,
               ctr_answer_point,
               username,
               ctr_total_count,
               ctr_answer_count,
               ctr_inAnswer_count,
               ctr_time,
               created_at,
               COUNT(*) OVER() AS total_elements
        FROM choice_test_result
        WHERE username = #{username}
          AND state = 0
        ORDER BY ctr_num DESC
            limit #{size}
        offset #{offset}
    </select>

    <!-- 단어 선택 테스트 내역 상세 조회 -->
    <select id="choiceRecordDetailList"
            parameterType="com.project.thejapenproject.mypage.vo.param.ChoiceRecordDetailParamVO"
            resultType="com.project.thejapenproject.mypage.vo.ChoiceRecordListDetailResVO">
        SELECT ctrd_num,
               word_num,
               ctrd_question_one,
               ctrd_question_two,
               ctrd_question_three,
               ctrd_question_four,
               ctrd_question_answer,
               ctrd_choice_num,
               ctrd_answer_content,
               ctrd_answer_meaning,
               ctrd_answer_chinese,
               ctrd_result,
               created_at
        FROM choice_test_result_detail
        WHERE ctr_num = #{ctrNum}
          AND state = 0
        ORDER BY ctrd_num ASC
    </select>


    <!-- 유저의 학습 상세 내용 조회 -->
    <select id="recordDetails"
            parameterType="com.project.thejapenproject.mypage.vo.GetRecordDetailsReqVO"
            resultMap="recordDetailsResultMap">
        SELECT R.rd_num,
               R.record_num,
               R.username,
               R.word_num,
               R.rd_check,
               R.Record_value,
               W.word_level,
               W.word_meaning,
               W.word_content
        FROM record_detail R
                 JOIN word W
                      ON R.word_num = W.word_num
        WHERE username = #{username}
          AND record_num = #{recordNum}
        ORDER BY rd_num
    </select>

    <!-- 회원 탈퇴 -->
    <update id="withdrawal" parameterType="String">
        update user
        set state = 1
        where username = #{username}
          AND state = 0
    </update>

    <!-- 단답형 단어 테스트 기록 삭제 -->
    <update id="deleteShortRecord"
            parameterType="java.lang.Integer">
        update short_test_result
        set state = 1
        where str_num = #{strNum}
          AND state = 0
    </update>

    <!-- 주차별 학습 데이터 조회 -->
    <select id="getSchoolList"
            resultType="com.project.thejapenproject.command.WordVO">
        select word_num,
               word_level,
               word_meaning,
               word_content,
               word_chinese,
               word_week,
               'true' as word_favorite
        from word
        where word_week = #{wordWeek}
        order by rand()
    </select>

    <!-- 주차별 학습 목록의 주차 조회 -->
    <select id="getWeekList" resultType="int">
        select distinct word_week
        from word
        order by word_week asc
    </select>

    <!-- 프로필 이미지 삭제 -->
    <update id="userImageRemove">
        UPDATE image
        SET state = 1
        WHERE image_type = 'user-profile'
          AND username = #{username}
          AND state = 0
    </update>

    <!-- 프로필 이미지 수정 -->
    <insert id="userImageChange">
        INSERT INTO image (image_path,
                           image_type,
                           username,
                           created_at,
                           created_by)
        VALUES (#{fileName},
                'user-profile',
                #{username},
                now(),
                'admin')
    </insert>

    <!-- 단어 선택 테스트 삭제-->
    <update id="deleteChoiceRecord"
            parameterType="com.project.thejapenproject.mypage.vo.ChoiceRecordDeleteReqVO">
        UPDATE choice_test_result
        SET state = 1
        WHERE ctr_num = #{ctrNum}
    </update>

    <!-- 단어 즐겨찾기 추가 -->
    <insert id="registerFavoriteWord"
            parameterType="com.project.thejapenproject.mypage.vo.UserFavoriteRegisterReqVO">
        INSERT INTO favorites (username,
                               word_num,
                               favorite_regdate)
        VALUES (#{username},
                #{wordNum},
                NOW())
    </insert>

    <select id="checkFavoriteWord"
            parameterType="com.project.thejapenproject.mypage.vo.UserFavoriteRegisterReqVO"
            resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM favorites
        WHERE username = #{username}
          AND word_num = #{wordNum}
    </select>

    <!-- 단답형 단어 테스트 결과 상세 조회 -->
    <select id="shortRecordDetailList"
            parameterType="com.project.thejapenproject.mypage.vo.param.ShortRecordDetailParamVO"
            resultType="com.project.thejapenproject.mypage.vo.ShortRecordListDetailResVO">
        SELECT strd_num,
               word_num,
               strd_choice_word,
               strd_answer_content,
               strd_answer_meaning,
               strd_answer_chinese,
               strd_result,
               created_at
        FROM short_test_result_detail
        WHERE str_num = #{strNum}
          AND state = 0
        ORDER BY strd_num ASC
    </select>

    <resultMap id="recordDetailsResultMap" type="com.project.thejapenproject.command.RecordDetailsVO">
        <id property="rdNum" column="rd_num"/>
        <result property="recordNum" column="record_num"/>
        <result property="wordNum" column="word_num"/>
        <result property="rdCheck" column="rd_check"/>
        <result property="recordValue" column="Record_value"/>

        <association property="wordVO" javaType="com.project.thejapenproject.command.WordVO">
            <id property="wordNum" column="word_num"/>
            <result property="wordLevel" column="word_level"/>
            <result property="wordMeaning" column="word_meaning"/>
            <result property="wordContent" column="word_content"/>
        </association>
    </resultMap>

</mapper>
