<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.thejapenproject.notice.service.NoticeMapper">

    <select id="getList"
            parameterType="com.project.thejapenproject.command.GetListReqVO"
    resultType="com.project.thejapenproject.command.NoticeVO">
        SELECT *, COUNT(*) OVER() AS totalElements
        FROM notice
        ORDER BY notice_regdate DESC
        limit #{size} offset #{offset}
    </select>

    <select id="alarmList" parameterType="NoticeVO">
        SELECT * FROM notice N
        WHERE notice_num NOT IN (SELECT notice_num
                                 FROM notice_check
                                 WHERE username = #{username})
        AND N.notice_regdate > (SELECT user_regdate
                                FROM user
                                WHERE username = #{username})
    </select>

    <select id="checkList">
        SELECT IF(COUNT(*) = 1, true, false) AS CH FROM notice_check
        WHERE username = #{username}
        AND notice_num = #{notice_num}
    </select>
    <insert id="noticeCheck">
        INSERT INTO notice_check (username,
                                  notice_num,
                                  check_regdate)
        VALUES (#{username},
                #{notice_num},
                now())
    </insert>

</mapper>
