<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.thejapenproject.test.service.TestMapper">

    <!-- 테스트볼 내용 조회 -->
    <select id="getTestList"
            resultType="com.project.thejapenproject.test.vo.GetTestListResVO">
        SELECT word_num,
               word_meaning,
               word_content,
               word_chinese
        FROM word
        WHERE word_level = #{level}
        ORDER BY RAND()
         LIMIT 10
    </select>

    <!-- 테스트 결과 insert -->
    <insert id="insertRecord">
        INSERT INTO record (username,
                            record_level,
                            record_date,
                            record_point,
                            record_kind)
        values (#{username},
                #{level},
                now(),
                #{point},
                #{kind})
    </insert>

    <!-- 테스트 상세 결과 저장-->
    <insert id="recordData" parameterType="java.util.List">
        <selectKey keyProperty="record_num" resultType="int" order="BEFORE">
            SELECT max(record_num) FROM record
        </selectKey>
        INSERT INTO record_detail (record_num,
                                   username,
                                   word_num,
                                   rd_check,
                                   record_value)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{record_num},
             #{username},
             #{item.word_num},
             #{item.result_check},
             #{item.dataValue})
        </foreach>
    </insert>

    <!-- 선택 단에 테스트 문제 풀이 테이블에 저장 -->
    <insert id="registerChoiceTestResult"
            parameterType="com.project.thejapenproject.test.vo.ChoiceTestSaveReqVO">
        <selectKey resultType="Integer" order="AFTER" keyProperty="ctrNum">
            SELECT ctr_num
            FROM choice_test_result
            WHERE username = #{username}
            ORDER BY ctr_num DESC
            limit 1
        </selectKey>
        INSERT INTO choice_test_result (username,
                                        ctr_total_count,
                                        ctr_answer_count,
                                        ctr_inAnswer_count,
                                        ctr_time,
                                        state,
                                        created_at)
        VALUES (#{username},
                #{ctrTotalCount},
                #{ctrAnswerCount},
                #{ctrInAnswerCount},
                #{ctrTime},
                0,
                NOW())
    </insert>

    <!-- 선택 단에 테스트 문제 풀이 상세 테이블에 저장 -->
    <insert id="registerChoiceTestResultDetail"
            parameterType="com.project.thejapenproject.test.vo.ChoiceTestSaveReqVO">
        INSERT INTO choice_test_result_detail (ctr_num,
                                               word_num,
                                               ctrd_question_one,
                                               ctrd_question_two,
                                               ctrd_question_three,
                                               ctrd_question_four,
                                               ctrd_question_answer,
                                               ctrd_choice_num,
                                               ctrd_answer_content,
                                               ctrd_answer_meaning,
                                               ctrd_answer_chinese,
                                               ctrd_result,
                                               state,
                                               created_at)
        VALUES
            <foreach collection="ctrdContent" item="vo" separator="," >
                (#{ctrNum},
                #{vo.wordNum},
                #{vo.ctrdQuestionOne},
                #{vo.ctrdQuestionTwo},
                #{vo.ctrdQuestionThree},
                #{vo.ctrdQuestionFour},
                #{vo.ctrdQuestionAnswer},
                #{vo.ctrdChoiceNum},
                #{vo.ctrdAnswerContent},
                #{vo.ctrdAnswerMeaning},
                #{vo.ctrdAnswerChinese},
                #{vo.ctrdResult},
                0,
                NOW()
                )
            </foreach>
    </insert>
</mapper>
