<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.thejapenproject.test.service.TestMapper">

    <!-- 테스트볼 내용 조회 -->
    <select id="getTestList"
            resultType="com.project.thejapenproject.test.vo.GetTestListResVO">
        SELECT word_num,
               word_meaning,
               word_content,
               word_chinese
        FROM word
        WHERE word_level = #{level}
        ORDER BY RAND()
         LIMIT 10
    </select>

    <!-- 테스트 결과 insert -->
    <insert id="insertRecord">
        INSERT INTO record (username,
                            record_level,
                            record_date,
                            record_point,
                            record_kind)
        values (#{username},
                #{level},
                now(),
                #{point},
                #{kind})
    </insert>

    <!-- 테스트 상세 결과 저장-->
    <insert id="recordData" parameterType="java.util.List">
        <selectKey keyProperty="record_num" resultType="int" order="BEFORE">
            SELECT max(record_num) FROM record
        </selectKey>
        INSERT INTO record_detail (record_num,
                                   username,
                                   word_num,
                                   rd_check,
                                   record_value)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{record_num},
             #{username},
             #{item.word_num},
             #{item.result_check},
             #{item.dataValue})
        </foreach>
    </insert>

</mapper>
