.user-notice-box-all {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background-color: #f6f7fb;

}

.user-notice-box{
    box-shadow: 0 10px 20px rgba(0,0,0,0.1), 0 6px 6px rgba(0,0,0,0.0);
    background-color: white;
    padding: 25px 30px 30px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user-notice-title-box {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 20px;
  border-bottom: 1px solid #777;
}

.user-notice-content-box {
  border: 1px solid #777;
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0.125rem 0.25rem #00000014;
  transition: all .12s cubic-bezier(.47,0,.745,.715);
  background-color: var(--gray-100-gray-700);
}

.user-notice-content-box:hover {
  background-color: rgb(230 231 246);
}
.content-box-p-tag {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-box-p-tag > svg {
  margin-right: 3px;
}

.notice-pageNation{
  width: 100px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}


/*************상세 공지사항**************/
.notice-detail-box-all {
  position: fixed;
  top:0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: #00000078;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.notice-detail-box{
  padding: 50px 30px;
  border-radius: 10px;
  position: relative;
  background-color: rgb(220 235 255);
  box-shadow: 0 10px 20px rgba(0,0,0,0.1), 0 6px 6px rgba(0,0,0,0.0);
}

.notice-detail-title,
.notice-detail-content {
  display: flex;
}

.notice-detail-title {
  margin-bottom: 20px;
  font-size: 17px;
}
.notice-detail-title > p {margin-right: 10px;}
.notice-detail-title > div {border-bottom: 1px solid #777;}
.notice-detail-content > p {margin-right: 10px;}

.notice-detail-content > textarea{
  resize: none;
  outline: none;
  padding: 5px;
}

.notice-detail-out > svg {
  position: absolute;
  top: 20px;
  right: 20px;
}
.notice-detail-out > svg:hover {
  color: blue;
}



/* 600 이상 */
@media(max-width : 600px){
  .user-notice-box{
    width: 300px;
  }
  .user-notice-content-box {
    width: 300px;
  }
  .notice-detail-box{
    width: 300px;
    height: 317px;
  }
  .notice-detail-content > textarea{
    width: 230px;
    height: 250px;
  }
}
 /* 1000 이상 */
@media(min-width : 600px){
  .user-notice-box{
    width: 500px;
  }
  .user-notice-content-box {
    width: 480px;
  }
  .notice-detail-box{
    width: 400px;
    height: 317px;
  }
  .notice-detail-content > textarea{
    width: 320px;
    height: 250px;
  }
}

 /* 1000 이상 */
 @media(min-width : 1000px){
  .user-notice-box{
    width: 848px;
  }
  .user-notice-content-box {
    width: 760px;
  }
}

