.user-notice-box-all {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background-color: #f6f7fb;

}

.user-notice-box{
    box-shadow: 0 10px 20px rgba(0,0,0,0.1), 0 6px 6px rgba(0,0,0,0.0);
    background-color: white;
    padding: 25px 30px 30px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user-notice-title-box {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 20px;
  border-bottom: 1px solid #777;
}

.user-notice-content-box {
  border: 1px solid #6CC4A1;
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0.125rem 0.25rem #00000014;
  transition: all .12s cubic-bezier(.47,0,.745,.715);
}

.user-notice-content-box:hover {
  background-color: rgb(156 255 137 / 22%);
}
.content-box-p-tag {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-box-p-tag > svg {
  margin-right: 3px;
}

.notice-pageNation{
  width: 100px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}


/* 600 까지 */
@media(max-width : 600px){
  .user-notice-box{
    width: 300px;
  }
  .user-notice-content-box {
    width: 300px;
  }

}
 /* 600 이상 */
@media(min-width : 600px){
  .user-notice-box{
    width: 500px;
  }
  .user-notice-content-box {
    width: 480px;
  }

}

 /* 1000 이상 */
 @media(min-width : 1000px){
  .user-notice-box{
    width: 848px;
  }
  .user-notice-content-box {
    width: 760px;
  }
}

